server:
  port: @server.port@

management:
  security:
    flag: false
  metrics:
    export:
      statsd:
        enabled: false
        flavor: etsy
  endpoint.health.show-details: always

spring:
  application:
    name: @project.name@
  output:
    ansi:
      enabled: always
  flyway:
    url: "jdbc:postgresql://localhost:5432/analytics"
    user: "user"
    password: "password"

info:
  version: @project.version@
  stage: dev

clickhouse.db:
  url: "jdbc:clickhouse://localhost:8123/default"
  user: "user"
  password: "password"
  connection.timeout: 50000
  compress: false

postgres.db:
  url: "jdbc:postgresql://localhost:5432/analytics"
  user: "user"
  password: "password"
  schema: "analytics"

kafka:
  bootstrap.servers: localhost:9092
  max:
    retry.attempts: 3
    poll.records: 100
    poll.interval.ms: 60000
    session.timeout.ms: 60000
  topic:
    event.sink:
      initial: event_sink
    payout:
      initial: payout
    party:
      initial: mg-events-party
    rate:
      initial: mg-events-rates
      groupId: analytics-rate-group

  consumer:
    prefix: analytics
    concurrency: 7
    throttling-timeout-ms: 1000
  ssl.enabled: false
  event-flow.resolver.enabled: false
  listener:
    event.sink:
      enabled: true
    payout:
      enabled: true
    party:
      enabled: true
    rate:
      enabled: true

service:
  invoicing:
    url: http://hellgate:8022/v1/processing/invoicing
    networkTimeout: 5000
  payouter:
    url: http://changeit/
    networkTimeout: 5000
  dominant:
    url: http://dominant:8022/v1/domain/repository
    networkTimeout: 5000
    scheduler:
      enabled: false
      lockFor: 30m
      pollingDelay: 3000
      querySize: 10

columbus.url: http://columbus:8022/repo
repository.insert.enabled: true

cache:
  party:
    size: 10000
  shop:
    size: 10000

caffeine.cache-expiration-seconds: 60

